
{{#each timelines}}
<section>
  <aside>


    <span class="fa-stack fa-lg timeIcon">
      <i class="fa fa-circle fa-stack-2x outer-ring"></i>
      <i class="fa fa-circle fa-stack-2x inner-ring"></i>
      <i class="fa {{icon}} fa-stack-1x fa-inverse"></i>
    </span>

    <div class="stamp">
      <p class="date">{{timerDate}}</p>
      <h4 class="hour">{{timerHour}}</h4>
    </div>

  </aside>
  <article>
    <figure>
      <h3>{{title}}</h3>
      <p>{{content}}</p>
    </figure>
  </article>
</section>
{{/each}}

